/*Submodal CLOSE*/
.subtitle {
	margin-top:-6px;
	width:98%;
	height:38px;
	font-size:32px;
	font-weight:bold;
	text-align:center;
	overflow:hidden;
	cursor:pointer;
}

.subtitle:hover {
}

.subtitle .close {
	position:absolute;
	right:0;
	top:0px;
	margin-right:0;
	margin-left:5px;
	height:12px;
	font-size:14px;
	color:#999999;
	font-weight:bold;
}

.subtitle:hover .close {
	color:red;
	font-color:red;
}

/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */
.button {
	float:left;
	text-align:center;
	font-size:26px;
	font-weight:bold;
	background-color:#ffff91;
	width:120px;
	height:50px;
	border:2px solid #000;
	cursor:pointer;
}
.button .date {
	font-size:12px;
	width:100%;
	height:15px;
	background-color:#ffffff;
}
.button .date:hover {
	background-color:#000000;
}
.button:hover {
	background-color:#ffff32;
}
/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:20px;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    float:left;
    margin:0 5px -5px 0 !important;
    padding:0;
    border:none;
    width:24px;
    height:24px;
}
/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* CHECK */

button.check, .buttons a.check{
    background-color:#ffffbf;
    background-image:url('../images/001_54_gray.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
    font-size:16px;
}
.buttons a.check:hover, button.check:hover{
    background-color:#ffffbf;
    background-image:url('../images/001_54.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
}
.buttons a.check:active{
    background-color:#ffffbf;
    border:none;
    color:#fff;
}

/* CHECKED */

button.checked, .buttons a.checked{
    background-color:#ffffbf;
    background-image:url('../images/001_54.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
    font-size:16px;
}
.buttons a.checked:hover, button.checked:hover{
    background-color:#ffffbf;
    background-image:url('../images/001_54.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
}
.buttons a.checked:active{
    background-color:#ffffbf;
    border:none;
    color:#fff;
}

/* BLOCKER */

button.blocker, .buttons a.blocker{
    background-color:#ffffbf;
    background-image:url('../images/001_19.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
    font-size:12px;
    margin-left:15px;
}
.buttons a.blocker:hover, button.blocker:hover{
    background-color:#ffffbf;
    background-image:url('../images/001_18.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
}
.buttons a.blocker:active{
    background-color:#ffffbf;
    border:none;
    color:#fff;
}

/* NO BLOCKER */

button.noblocker, .buttons a.noblocker{
    background-color:#ffffbf;
    background-image:url('../images/001_18.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
    font-size:12px;
    margin-left:15px;
}
.buttons a.noblocker:hover, button.noblocker:hover{
    background-color:#ffffbf;
    background-image:url('../images/001_19.png');
    background-repeat:no-repeat;
    background-position:left center;
    border:none;
    color:#000000;
}
.buttons a.noblocker:active{
    background-color:#ffffbf;
    border:none;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#000000;
    width:140px;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#000000;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
    width:130px;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* CLOSE */

.buttons a.close, button.close{
    color:#d12f19;
    width:175px;
}
.buttons a.close:hover, button.close:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.close:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* STATUS_OFF */

button.off, .buttons a.off{
    position:relative;
    text-align:left;
    width:165px;
    height:60px;
    background-image:url('../images/001_10.png');
    background-repeat:no-repeat;
    background-position:left center;
    background-color:#999999;
    color:#ffffff;
}
.buttons a.off:hover, button.off:hover{
    background-image:url('../images/001_10.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#ffffff;
}
.buttons a.off:active{
    background-image:url('../images/001_10.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#ffffff;
}

/* STATUS_OFF OVER LIMIT*/

button.offover, .buttons a.offover{
    position:relative;
    text-align:left;
    width:165px;
    height:60px;
    background-color:#999999;
    background-image:url('../images/001_30.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#ffffff;
}
.buttons a.offover:hover, button.offover:hover{
    background-color:#999999;
    background-image:url('../images/001_30.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#ffffff;
}
.buttons a.offover:active{
    background-color:#999999;
    background-image:url('../images/001_30.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#ffffff;
}


/* STATUS_ON */

.buttons a.on, button.on{
    position:relative;
    text-align:left;
    width:160px;
    height:45px;
    background-image:url('../images/001_09.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#000;
}
.buttons a.on:hover, button.on:hover{
    background-image:url('../images/001_10.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#000;
}
.buttons a.on:active{
    background-image:url('../images/001_10.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#000;
}

/* STATUS_ON OVER LIMIT*/

.buttons a.onover, button.onover{
    position:relative;
    text-align:left;
    width:160px;
    height:45px;
    background-image:url('../images/001_30.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#000;
}
.buttons a.onover:hover, button.onover:hover{
    background-image:url('../images/001_30.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#000;
}
.buttons a.onover:active{
    background-image:url('../images/001_30.png');
    background-repeat:no-repeat;
    background-position:left center;
    color:#000;
}

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:2px;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 0;
 border-bottom: 2px solid #999999;
 font-size: 22px;
 font-weight: bold;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 0 30px;
 margin-left: 6px;
 border: 1px solid #999999;
 border-bottom: none;
 background: #5dc2ff;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #ffffff; }
ul.tabbernav li a:visited { color: #ffffff; }

ul.tabbernav li a:hover
{
 text-decoration: none;
 background: #13758f;
}

ul.tabbernav li.tabberactive a
{
 color: #ffffff;
 background-color: #13758f;
 text-decoration: none;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #ffffff;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:0px;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */
 height:422px;
 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 overflow:auto;
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page 
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}*/
